*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 96%) 0%,
    hsl(0deg 0% 96%) 15%,
    hsl(243deg 20% 78%) 30%,
    hsl(240deg 21% 60%) 50%,
    hsl(243deg 22% 79%) 60%,
    hsl(0deg 0% 100%) 85%,
    hsl(0deg 0% 100%) 100%
    );
    height: 100vh;
    background-repeat: no-repeat;
}


.cadastro{
    text-align: center;
}

.cadastro h1{
    margin-top: 20px;
    font-size: 2.125rem;
    font-weight: 700;
    color: #170F49;;
}

.cadastro p{
    font-size: 1.125rem;
    margin-top: 13px;
    color: #6F6C90;
}

.container-cadastro{
    max-width: 546px;
    padding: 50px 54px;
    background-color: white;
    border-radius: 34px;    
    margin: 16px auto;
    box-shadow: 0px 54px 54px rgba(74, 58, 255, 0.02), 1px 4px 104px rgba(20, 20, 43, 0.04), 0px 98px 66px rgba(19, 18, 66, 0.02);
    border: 1px solid rgb(212, 212, 212);
    text-align: left;
}

.container-cadastro form{
    display: flex;
    flex-direction: column;
}

.container-cadastro form label{
    font-size: 1.125rem;
    color: #170F49;
    font-weight: 600;
    margin-bottom: 17px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.container-cadastro form select{
    padding: 21px 20px;
    font-size: 18px;
    border: 1px solid #EFF0F7;
    border-radius: 46px;
    box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
    color: #6F6C90;;
    outline: none;
    cursor: pointer;
    margin-bottom: 17px;
    position: relative;
    width: 440px;
}

.pesquisar{
    position: relative;
}

.seta{
    width: 42px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.container-cadastro form input{
    padding: 21px 20px;
    border: 1px solid #EFF0F7;
    box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
    border-radius: 46px;
    font-size: 1.125rem;
    margin-bottom: 17px;
    outline: none;
    color: #6F6C90;
}

.container-cadastro form .btn{
    background-color:  #4A3AFF;
    color: white;
    font-weight: 700;
    box-shadow: 0px 8px 22px rgba(74, 58, 255, 0.26);
    border-radius: 86px;
    cursor: pointer;
}

.container-cadastro form .btn:hover{
    filter: brightness(1.2);
    transition: .3s;
}

.container-cadastro .acesso{
    text-align: center;
    font-size: 1rem;
}



.container-cadastro .acesso a{
    color: #6F6C90;
    font-weight: 700;
}