.home-button-logout {
  position: absolute;
  top: 27px;
  right: 23px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: 18px;
  color: #6f6c90;
  border-radius: 34px;
}

.home-button-logout:hover{
  background: rgba(111, 108, 144, 0.15);
}

.home-button-logout-icon {
  display: flex;
}

button {
  cursor: pointer;
}

.home-body {
  font-family: "DM Sans", sans-serif;
  background-image: linear-gradient(
  45deg,
  hsl(0deg 0% 96%) 0%,
  hsl(0deg 0% 96%) 15%,
  hsl(243deg 20% 78%) 30%,
  hsl(240deg 21% 60%) 50%,
  hsl(243deg 22% 79%) 60%,
  hsl(0deg 0% 100%) 85%,
  hsl(0deg 0% 100%) 100%
);
}

.home-img-logout {
  width: 30px;
  height: 30px;
}

.home-main {
  height: 100vh;
  box-sizing: border-box;
  padding: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.home-vaga-container-principal{
  box-shadow: 0px 54px 54px rgba(74, 58, 255, 0.02),
    1px 4px 104px rgba(20, 20, 43, 0.04), 0px 98px 66px rgba(19, 18, 66, 0.02);
  padding: 37px 45px;
  border-radius: 34px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  background-color: #FFFFFF;
}

.home-vaga-container{
  gap: 26px;
  display: flex;
  flex-direction: column;
}

.home-vaga{
  cursor: pointer;
  padding: 23px 35px;
  width: 756px;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border: 1px solid #EFF0F7;
  border-radius: 46px;
  display: flex;
  justify-content: space-between;
  color:  #6F6C90;
}

.home-vaga:hover{
  background: rgba(111, 108, 144, 0.15);
}

.button-cadastrar{
  margin-top: 35px;
  background: #4A3AFF;
  box-shadow: 0px 8px 22px rgba(74, 58, 255, 0.26);
  border-radius: 86px;
  width: 80%;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  padding: 23px;
}

.home-modal-criar-vaga-backdrop{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(10px);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-modal-criar-vaga-container{
  font-family: "DM Sans", sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 54px 54px rgba(74, 58, 255, 0.02), 1px 4px 104px rgba(20, 20, 43, 0.04), 0px 98px 66px rgba(19, 18, 66, 0.02);
  border-radius: 34px;
  padding: 50px;
  gap: 18px;
}
.home-modal-criar-vaga-input-label{
  font-weight: 700;
  font-size: 18px;
  color: #170F49;
}
.home-modal-criar-vaga-input{
  width: 450px;
  background: #FFFFFF;
  border: 1px solid #EFF0F7;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 46px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #6F6C90;
}
.home-modal-criar-vaga-input:focus{
  outline-color:#c9cacc ;
}

.home-modal-criar-vaga-button{
  background: #4A3AFF;
  color: white;
  border: none;
  box-shadow: 0px 8px 22px rgba(74, 58, 255, 0.26);
  border-radius: 86px;
  padding: 23px;
}

.home-modal-criar-vaga-button:hover{
  background: #382cc4;
}